.myNav {
  display: flex;
  align-items: center;
}
.logo img {
  width: 100px;
}

.search-box {
  padding: 8px;
  border: 1px solid black;
  /* margin: 20px; */
  border-radius: 30px;
}
.Box {
  display: flex;
}
.Box input {
  border: none;
  outline: none;
  width: 500px;
  background-color: transparent;
}
.Box img {
  width: 23px;
  height: 23px;
  cursor: pointer;
}
.Box .mike {
  width: 18px;
  height: 18px;
  margin-top: 3px;
  margin-left: -15px;
}
